.layout-header {
  background-color: #264653;
  color: orange;
  font-size: 25px;
  text-align: center;
  padding: 30px;
}

.layout-footer {
  background-color: #264653;
  color: blue;
  font-size: 25px;
  text-align: center;
  padding: 20px;
  margin-bottom: 1px;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
